 <!-- Start Section -->
    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">ADMİN</h1>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
        {{> admin_nav}}
    </section>
    <!-- End Section -->

   