<body>
    <section class="wrapper col-md " >
        <div class="container">
             {{#if sectionFlash.message}}
            <div class="{{sectionFlash.type}}">
                {{sectionFlash.message}}
            </div>
            {{/if}}
            <div class="col-sm-8 offset-sm-2 col-lg-8 offset-lg-3 col-xl-4 offset-xl-4 text-center my-5 ">
               
                <form class="rounded bg-white shadow p-5 fs-4 g-md-2 " action="/users/register" method="post">
                    <h3 class="text-dark fw-bolder  ">KAYİTOL</h3>
                    <div class="fw-normal text-muted mb-4">
                        Hesabin Var Mı? <a href="/login" class="text-primary fw-bold text-decoration-none">Giriş Yap</a>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" placeholder="username">
                        <label for="floatingInput">Kollanıcı adı</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="name_sorname" placeholder="name">
                        <label for="floatingInput">Ad soyad</label>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="email" placeholder="name@example.com">
                        <label for="floatingInput">Email adres</label>
                    </div>
                    
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                        <label for="floatingPassword">Şifre</label>
                    </div>
                    
                    <div class="mt-2 text-end  ">
                        <a href="" class="text-primary fw-bold text-decoration-none text_end">Şifremi Unuttum?</a>
                    </div>
                        <button type="submit" class="btn btn-primary submit_btn w-100 my-4">Giriş yap</button>
                    <div class="text-center text-muted text-uppercase mb-3">Veya</div>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-light w-100 login_with">
                                <i class="fab fa-facebook-f mr-2"></i>
                                Facebook
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-light w-100 login_with">
                                <i class="fab fa-google mr-2"></i>
                                Google
                            </button>
                        </div>

                </form>
            </div>
        </div>
    </section>
</body>